In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
engine = create_engine("postgresql://root:root@localhost/ny_taxi")

In [ ]:
df = pd.read_csv("taxi+_zone_lookup.csv", nrows=100)

In [11]:
print(pd.io.sql.get_schema(df, name="taxi_zone_lookup", con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [6]:
df.head(n=0).to_sql(name="taxi_zone_lookup", con=engine, if_exists="replace")

NameError: name 'df' is not defined

In [7]:
df_iter = pd.read_csv("taxi+_zone_lookup.csv", iterator=True, chunksize=100, low_memory=False)

In [8]:
df = next(df_iter)

In [9]:
from time import time

while True:
    t_start = time()
    df = next(df_iter)

    df.to_sql(name="taxi_zone_lookup", con=engine, if_exists="append")

    t_end = time()
    #print(f"inserted another chunck..., took {t_end - t_start}")
    print("inserted another chunck..., took %.3f seconds" % (t_end - t_start))

inserted another chunck..., took 0.139 seconds
inserted another chunck..., took 0.013 seconds

StopIteration:

In [10]:
query = """
SELECT * FROM taxi_zone_lookup;
"""
pd.read_sql(query, con=engine)

,index,LocationID,Borough,Zone,service_zone
0,100,101,Queens,Glen Oaks,Boro Zone
1,101,102,Queens,Glendale,Boro Zone
2,102,103,Manhattan,Governor's Island/Ellis Island/Liberty Island,Yellow Zone
3,103,104,Manhattan,Governor's Island/Ellis Island/Liberty Island,Yellow Zone
4,104,105,Manhattan,Governor's Island/Ellis Island/Liberty Island,Yellow Zone
...,...,...,...,...,...
160,260,261,Manhattan,World Trade Center,Yellow Zone
161,261,262,Manhattan,Yorkville East,Yellow Zone
162,262,263,Manhattan,Yorkville West,Yellow Zone
163,263,264,Unknown,NV,None
164,264,265,Unknown,None,None